<div class="container">
  <h1>Progenitor Checker</h1>
  <div class="form-control">
    <%= simple_form_for :wf, method: :get, url: warframes_path, data: {controller: "name"} do |f| %>
      <%= f.select :name, @wfs.map(&:name), prompt: 'Select Warframe', class: "form-select is-valid" %>
      <%= f.submit "Check!", class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="form-control">
    <%= simple_form_for :wf, method: :get, url: warframes_path, data: {controller: "element"} do |f| %>
      <%= f.select :element, @elements, prompt: 'Select Element', class: "form-select is-valid" %>
      <%= f.submit "Check!", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<%# *Note that the Primed or Umbra version of a Warframe share the same element %>
